/* Add a very thin line around the component */
.component {
	padding: 20px;
	border: 1px solid #ccc; /* Adjusted border width to 1px */
	max-width: "300px";
	border-radius: 10px;
	margin: "0 auto";
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
}

.App-header {
	background-color: #ffffff;
	text-align: center;
	font-size: calc(10px + 2vmin);
	color: black;
}
